@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}