// Colores
$color-fondo: #F3F4F6;
$color-primario: #2563EB;
$color-secundario: #374151;
$color-blanco: #FFFFFF;
$color-texto-suave: #6B7280;
$color-texto: #374151;

// Tipografía
$fuente-principal: 'Poppins', sans-serif;

// Bordes
$radio-card: 15px;
$radio-imagen: 12px;

// Espaciados
$espaciado-general: 20px;